.pLeft{
    font-size: .9rem;
color: gray;
margin: 10px 0;
}
.mainData{
    font-size: 1.3rem;
line-height: 1.6;
}
.link{
    text-decoration: none;
    font-size: 1rem;

}
.bx--accordion__content{
    background-color: #DCDCDC;
    font-size: large;
    line-height: 1.6;
}
.divContent{
    font-size: large;

line-height: 1.6;
}
.opacityhr{
    opacity:.3;
}
.hrClass-Red{
    color:red;
   
    border-top: 4px solid red;
    display: inline-block;
   
    margin: 0 0 20px 0;
}
.hrClass-blue{
    color:#00ccff;
    display: inline-block;
    border-top: 4px solid #00ccff;
    margin: 0 0 20px 0;
}
.hrClass-yellow{
    color:yellow;
    display: inline-block;
    border-top: 4px solid yellow;
    margin: 0 0 20px 0;
}
.p-sentiment{
    padding: 10px 0;
}
.divSentiment{
    padding: 10px;
background-color: black;
color: white;
}
.bx--accordion__title {
    font-size: 0.99rem;
}
.DescDiv{
    margin: 10px;
}
.rootDiv{
    
    background-color: whitesmoke;
      }
      .pCommunity{
        padding: 10px 0;
        letter-spacing: 1px;
    }