@import 'src/carbon-styles/carbon-overrides';

.policy-card {
  cursor: pointer;
  margin: 0;
  padding: 0;

  .r1 {
    .sentiment-bar {
      margin: 0;
      display: flex;
      flex-direction: row;
      width: 100%;
      @for $i from 1 through 3 {
        &-#{$i} {
          padding: $sentiment-bar-width-01 0 $sentiment-bar-width-01 0;
          background-color: map-get($map: $blue-gradient, $key: "0#{$i}");
          width: 100%;

          &.odd {
            background-image: linear-gradient(to right, #1159f5, #0690fc, #04d0fd);
          }

          &.even {
            background-image: linear-gradient(to left, #1159f5, #0690fc, #04d0fd);
          }

          // @if $i==2 {
          //   width: 40%;
          // }@else{
          //   width: 30%;
          // }
        }
      }
    }
  }

  .r2 {
    padding: $spacing-03 0 $spacing-03 0;
    //border-left: 1px solid $ui-03;
    box-shadow: 0 1px 2px $ui-04;
    background-color: $ui-background;
    margin: 0;
    margin-bottom: $spacing-03;
  }

  .title {
    font-weight: bold;
  }

  .summary {
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .policy-card {
    .summary {
      $h: $spacing-03;
      $v: $spacing-07;
      padding: $h $v $h $v;
    }
  }
}