.top-page-header {
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-columns: [col0-start] 5vw [col1] 10vw [col2] 35vw [col3] 35vw [col4] 10vw [col5] 5vw [col6-end];
    grid-template-rows: [row0-start] 5vh [row1] 5vh [row2] 4vh [row3] 1vh [row4] 5vh [row4-end];
    justify-items: center;
}

.top-page-header__title {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 6vw;
    align-self: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}

.search-bar {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    align-self: center;
    margin: 0 auto;
    margin-top: 50px;
}

.bx--search--xl .bx--search-input {
    height: 2rem;
    font-size: 4.8vw;
}

.bx--search-input {
    background-color: white;
    width: 90vw;
}