@import 'src/carbon-styles/carbon-overrides';

.home-content{
  display: flex;
  width: 100%;
  justify-content: center;
  .privacy-cancel-content{
    $h: $spacing-05 * 5;
    $v: $spacing-05 ;
    margin: auto;
    padding: $h $v $h $v;
  }
}