.policyHeading{
    margin: 10px;
    text-align:center;
    font-size: large;
  }
  .seeall{
    float: right;
  color: #0c51f3;
  margin-right: 12px;
  cursor: pointer;
  }
  .margin10{
    margin: 10px;
  }
  .fontMedium{
    font-size: medium;
  }
  .rootDiv{
    
background-color: whitesmoke;
  }
  .pCommunity{
    padding: 10px 0;
    letter-spacing: 1px;
}