.policyHeading{
    margin: 10px;
    text-align:center;
    font-size: large;
  }
  .seeall{
    float: right;
  color: blue;
  margin-right: 10px;
  }
  .margin10{
    margin: 10px;
  }
  .fontMedium{
    font-size: medium;
  }