.progress {
  width: 100%;
  padding: 10px 20px;
}

.meter {
  height: 5px;
  position: relative;
  margin: 5px 0 0;
  background: #fff;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 5px;
  border-radius: 20px 8px 8px 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
                  center bottom,
                  rgb(43, 194, 83) 37%,
                  rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
  inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.blue > span {
  background-color: #4589ff;
}

.red > span {
  background-color: #fa4d56;
}

.yellow > span {
  background-color: #f1c21b;
}

.meter.blue {
  background-color: #002399;
}

.meter.red {
  background-color: #940000;
}

.meter.yellow {
  background-color: #8B5C00;
}