.Header {
  font-family: 'Noto Sans JP', sans-serif;
  display: inline-block;
  margin: 16px;
}

.SeeAllBtn {
  float: right;
  color: #0c51f3; 
  margin-right: 12px;
  margin-top: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: whitesmoke;
  border: none;
}

.SeeAllHeader {
  margin-top: 15px;
  width: 95%;
  display: inline-block;
}

.BackIcon {
  float: left;
  margin-left: 15px;
}

.SearchDiv {
  width: 95%;
  display: inline-flex;
  margin-bottom: 15px;
}